.place__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    width: calc(100% - 16px * 2);
    margin: 0 auto;
  }
}
