.places {
  width: calc(100% - 148px * 2);
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
  width: calc(100% - 24px * 2);
  margin-top: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .places {
    width: calc(100% - 16px * 2);
    margin-top: 64px;
  }
}
