.intro__list {
  max-width: 690px;
  min-height: 90px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  letter-spacing: 0.2px;
}
