.lead {
  width: calc(100% - 148px * 2);
  margin: 0 auto;
  margin-top: 56px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  /*---------lead---------*/
  .lead {
    width: calc(100% - 48px * 2);
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .lead {
    margin-top: 48px;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (min-width: 320px) and  (max-width: 767px){
  .lead {
    width: calc(100% - 16px * 2);
    margin-top: 48px;
  }
}
