.header {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
  min-height: 52px;
  padding-top: 28px;
}

@media screen and (min-width: 768px) and  (max-width: 1023px){
  .header {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px){
  .header {
    max-width: calc(100% - 16px * 2);
    min-height: 42px;
    padding-top: 16px;
  }
}
