.footer__link {
  margin-right: 18px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  }

@media screen and (min-width: 320px) and (max-width: 767px){
  .footer__link:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
