.lead__title {
  text-align: center;
  font-size: 96px;
  font-family: 'Inter';
  font-weight: 900;
  line-height: 100px;
  margin: 0 auto;
  width: 720px;
}

@media screen and (min-width: 320px) and  (max-width: 767px){
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 288px;
  }
}
