.footer__links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
