.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  padding-bottom: 26px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph:last-of-type {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    padding-bottom: 25px;
    max-width: 288px;
  }
}

@media screen and (max-width: 767px){
  .place__paragraph:last-of-type {
    padding-bottom: 0px;
  }
}
