.lead__image {
  padding-top: 64px;
  object-fit: cover;
  width: 100%;
  max-height: 615px;
  box-sizing: content-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__image {
    padding-top: 56px;
    height: 580px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 767px){
  .lead__image {
    padding-top: 40px;
    max-height: 200px;
  }
  }
