.intro__text {
  margin: 0;
  width: 690px;
  min-height: 208px;
  padding-top: 40px;
  font-family: 'Inter regular';
  font-size: 16px;
  line-height: 26.08px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__text {
    width: 720px;
  }
}

@media screen and (min-width: 320px) and  (max-width: 767px){
  .intro__text {
    width: 100%;
    padding-top: 40px;

    font-size: 16px;
    line-height: 26.08px;
  }
}
