.intro {
  max-width: 690px;
  margin-top: 92px;
  margin-left: 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
      margin-left: 48px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .intro {
      margin-left: 24px;
    }
  }

  @media screen and (max-width: 767px){
    .intro {
      width: calc(100% - 16px * 2);
      margin: 0 auto;
      margin-top: 64px;
    }
    }
