.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  color: #fff;
  text-decoration: none;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.cover__overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px){
  .cover__overlay {
    min-height: 200px;
    padding: 0;
  }
}

@media screen and (max-width: 767px){
  .cover__overlay:before {
    width: 100%;
    min-height: 200px;
  }
}
