.cover__title {
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter bold';
  font-size: 72px;
  line-height: 76px;
  width: 560px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    height: 70px;
  }
}
