footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    width: calc(100% - 24px * 2);
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px){
  footer {
    width: calc(100% - 16px * 2);
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
}
