.intro__title {
  font-family: 'Inter bold';
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0.4px;
  margin: 0;
}

@media screen and (min-width: 320px) and  (max-width: 767px){
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    width: 250px;
  }
}
