.intro__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0.4px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}
